extends layout

block content
  h1.h1-index Contact Database
  a.index-view(href='/contacts') View Contacts Database
  div.home-container
      p.index-hp This application allows you to: CREATE, VIEW, EDIT, and DELETE contacts.
      .index-container
        .index-p
          p.p1  You can easily manage your contacts with this application. This platform offers the functionality to CREATE, VIEW, EDIT, and DELETE contacts. With its smooth integration with Pug, Express, and Node.js, this app provides an easy-to-use interface for all your contact management requirements.
          p.p2  Additionally, this application follows best practices for data storage and management. It provides a safe and effective solution to store and retrieve your contact information by utilizing SQLite 3. Through the use of cutting-edge technologies and organized data storage, this application guarantees a seamless and highly secure contact management experience.
