extends layout

block content
  h1.h1-index Contact Database
  a.index-view(href='/contacts') View Contacts Database
  .home-container
    .container-content
      p This application allows you to: CREATE, VIEW, EDIT, and DELETE contacts.
      p This application empowers you to manage your contacts effortlessly. Whether you need to CREATE, VIEW, EDIT, or DELETE contacts, this platform has you covered. Seamlessly integrated with Node.js, Express, and Pug, it offers a user-friendly interface for all your contact management needs.
      p Additionally, this application follows best practices for data storage and management. Leveraging SQLite3, it offers a secure and efficient way to store and retrieve your contact information. By storing data in a structured manner and utilizing the latest technologies, this application ensures that your contact management experience is not only seamless but also highly secure.
