doctype html
html
  head
    title Contact Database
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
      a.nav-home(href='/') Home
      a.nav-contacts(href='/contacts') Contacts
      a.nav-add-contact(href='/contacts/new') Add Contact
      form.search-bar(action='/contacts', method='GET')
        input.search-input(type='text', name='search', placeholder='Search by Name, Last Name, or Email')
        button.nav-search-button(type='submit') Search
    block content