doctype html
html
  head
    title Contact Database
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk:MORF@0..45&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
  body
    nav.navbar
      a.nav-home(href='/') Home
      a.nav-contacts(href='/contacts') Contacts
      a.nav-add-contact(href='/contacts/new') Add Contact
      form.search-bar(action='/contacts', method='GET')
        input.search-input(type='text', name='search', placeholder='Search by Name, Last Name, or Email')
        button.nav-search-button(type='submit') Search
    block content