doctype html
html
  head
    title Contact Database
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar
      a(href='/') Homepage
      a(href='/contacts') Contacts
      a(href='/contacts/new') Add Contact
    form(action='/search', method='GET')
      input.search-input(type='text', name='query', placeholder='Search by Name, Last Name, or Email Address')
    block content
