extends layout

block content
  h1.h1new Add New Contact
  form.new-form(method='POST', action='/contacts')
    label(for='firstName') First Name:
    input(type='text', name='firstName', id='firstName', required)
    label(for='lastName') Last Name:
    input(type='text', name='lastName', id='lastName', required)
    label(for='email') Email Address:
    input(type='email', name='email', id='email')
    label(for='notes') Notes:
    textarea(name='notes', id='notes')
    button.btn-add-contact(type='submit') Add Contact
