* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}
nav a:hover {
  padding: 5px 12px;
  font-size: 25px;
  color: black;
  font-weight: bold;
  border: 4px;
  background-color: #00ffff;
  animation: wiggle 2s linear infinite;
  border-radius: 20px;
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 15px;
}
.search-input-container {
  flex: 1;
}
.search-input {
  width: 100%;
  padding: 5px;
  padding: 6px 10px;
  border-radius: 20px;
  border: 4px solid #00ffff;
}
.nav-search-button {
  padding: 5px 10px;
  background-color: rgba(244, 162, 244, 0.707);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
  font-size: 20px;
}
.nav-search-button:hover {
  font-size: 23;
  background-color: #00ffff;
  animation: wiggle 2s linear infinite;
  color: black;
  font-weight: bold;
}
.h1-index,
.h1-contact,
.h1-contacts,
.h1-edit,
.h1new {
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 4em;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF"'<morph>',
    "SHLN" 50,
}
.btn-add,
.index-view {
  padding: 12px 28px;
  background-color: rgba(244, 162, 244, 0.707);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px 5px;
  font-weight: bold;
}
.btn-edit,
.btn-view,
.btn-save,
.btn-delete,
.btn-add-contact {
  padding: 5px 14px;
  color: white;
  background-color: rgba(244, 162, 244, 0.707);
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px 5px;
  font-size: 18px;
}
.btn-save {
  position: absolute;
  left: 45%;
  top: 75%;
  transform-origin: 50% 5em;
  animation: wiggle 3s linear infinite;
}
.btn-add-contact:hover,
.btn-save:hover {
  background-color: #00ffff;
  animation: wiggle 3s linear infinite;
  color: black;
  font-weight: bold;
}
.index-view {
  padding: 10px 20px;
}
.contacts-container,
.contact-actions {
  margin-top: 10px;
}
.home-container {
  width: 80%;
  height: auto;
  padding-bottom: 20px;
}
.index-container{
  width: auto;
  height: auto;
  border-radius: 15px;
  box-shadow: 03px 0px 15px rgba(198, 137, 236, 0.459);
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.6;
  color: #e4d5d5;
  text-align: justify;
  margin: 1;
}
.index-p {
  width: 90%;
  padding-bottom: 30px;
  margin-top: -80px;
  font-size: 20px;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}
.p1 {
  margin-bottom: 20px;
}
.index-hp {
  font-size: 25px;
  padding-bottom: 30px;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}
.home-container .index-hp:first-child {
  font-weight: bold;
  color: #f5f0f5;
}
.new-form,
div,
.contacts-table,
.contact-container,
.contact-table-edit {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  padding-top: 60px;
}
.contacts-table th,
.contact-container th,
.contact-table-edit th,
.contacts-table td,
.contact-container td,
.contact-table-edit td {
  padding: 10px;
  border: 1px solid white;
}
.edit-container,
.new-container {
  margin-top: 20px;
}
.edit-form {
  width: 80%;
  margin: 0 auto;
}
.edit-form input,
.new-form input,
.edit-form textarea,
.new-form textarea {
  width: calc(100% - 20px);
  padding: 5px;
  margin: 5px 0;
}
.contact-actions {
  display: flex;
  justify-content: space-between;
}
.contact-actions a.btn-edit-contact,
.contact-actions form.delete-form {
  display: flex;
  align-items: center;
}
.btn-edit-contact,
.btn-delete-contact {
  padding: 10px 20px;
  background-color: rgba(244, 162, 244, 0.707);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: auto;
  display: inline-block;
  text-align: center;
}
.btn-add:hover,
.index-view:hover,
.btn-edit:hover,
.btn-view:hover,
.btn-delete:hover,
.btn-edit-contact:hover,
.btn-delete-contact:hover {
  background-color: #00ffff;
  color: black;
  font-weight: bold;
}

/* keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }
  .nav-home,
  .nav-contacts,
  .nav-add-contact {
    margin: 0 20px;
  }
  .contacts-table,
  .contact-table,
  .contact-table-edit {
    width: 100%;
  }
.h1-index,
.h1-contact,
.h1-contacts,
.h1-edit,
.h1new {
  font-size: 6em;
}
  .btn-save:after {
    position: absolute;
    left: 40%;
    top: 60%;
    transform-origin: 40% 5em;
    animation: wiggle 3s linear infinite;
  }
}