body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

table {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid white;
}

th {
  background-color: #d4cfcfd5;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #7e0a0ad5;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}


label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

input,
textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid white;
}

button {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: ;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #00ffff;
}

.delete-form {
  display: inline-block;
  margin-left: 1rem;
}

.contact-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

#contacts-container {
  margin-top: 2rem;
}

/* Navigation Bar */
.navbar {
  background-color: black;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #00ffff;
  color: black;
  font-weight: bold;
}

/* Search bar */
.navbar form .search-bar {
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: transparent;
}

.search-input {
  padding: 8px;
  border: 2px solid #00ffff;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  margin-right: 5px;
}

.search-input:focus {
  outline: none;
}

.nav-search-button {
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 15px; /* Adjust padding */
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.nav-search-button:hover {
  background-color: #00ffff;
}
